//
@import '~bootstrap/scss/bootstrap';
@import '~select2/src/scss/core';
@import 'variables';

body {
    margin: 0;
}

header {
    height: 150px;
    background-color: $main_color;
}

a {
    color: $link_color;
}

a:hover {
    color: $link_hover_color;
    text-decoration: none;
}

.menu-container-wrapper {
    background-color: $secondary_color;
    .main-menu {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        li {
            display: inline;
            margin: 0 20px;
        }
    }
    margin-bottom: 10px;
}

.immagine-tabella-wrapper {
    max-width: 30px;
    max-height: 30px;
}

.table-container {
    .multi-row {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}

.albo-details {
    .multi-row {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}